<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slacker News</title>
  </head>

  <body>
      <div class="articles">
        <ul>
          <% @articles.each do |row| %>          
          <li><%= "Title: #{row["title"]}" %></li>
            <p><%= "URL: " %><a target="_blank" href="<%= "#{row["url"]}" %>"><%= "#{row["url"]}" %></a> </p>
          <p><%= "Description: #{row["description"]}" %></p><br>
          <% end %>
        </ul>
      </div>
  </body>
</html>
